@use "sass:color";

$background-hover-color: rgb(147, 207, 139);
$background-hover-text-color: rgb(49, 77, 45);

$header-bcgclr: rgb(109, 192, 98);
$background-color: rgba(147, 207, 139, 0.322);

$footer-background-color: rgba(109, 192, 98, 0.3);

$link-color: rgb(167, 36, 112);
$text-default: rgb(0, 0, 0);
$text-strong: rgb(197, 122, 10);

$button-background: rgb(222, 238, 153);

@mixin hover-react {
    background-color: $background-hover-color;
    color: $background-hover-text-color
}

@media (max-width: 800px) {
    #chessboard-image {
        display: none;
    }

    #content {
        #main-content {
            order: 1;
        }
    
        #stats {
            order: 2;
        }
    }
}

@media (min-width: 800px) {
    footer {
        #disclaimer:hover {
            @include hover-react();
        }
    }

    #content {
        #main-content {
            order: 2;
        }
    
        #stats {
            order: 1;
        }
    }
}

#chessboard-image {
    text-align: center;
}

body {
    color: $text-default;
    background-color: $background-color;
}

a {
    color: $link-color;
}

strong {
    color: $text-strong;
}

#content {
    display: flex;
    flex-direction: column;
}

#stats {
    display: flex;
    justify-content: space-evenly;
}

summary:hover {
    @include hover-react();
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $footer-background-color;

    #enrollment-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        * {
            margin-inline: auto;
        }
        h4 {
            margin-bottom: 0px;
        }
    }

    #disclaimer {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;

    caption {
        font-size: large;
        font-weight: bold;
    }
}

header {
    display: flex;
    background-color: $header-bcgclr;
    padding: 15px;
    border-radius: 15px;

    #logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #title {
        display: flex;
        flex-direction: column;
        h1 {
            margin: 0px;
        }
        p {
            margin: 0px;
        }
    }
}

button {
    background-color: $button-background;
    &:hover {
        background-color: color.adjust($button-background, $lightness: -50%)
    }
}